#content #col2{
    width:836px;
    float: left;
}
#content #col2 #title{
    margin-left: 15px;
    margin-top: 30px;
    width: 96%;
    height: 30px;
    border-bottom: 1px solid #ccc;
}
#content #col2 #form_join{
    margin-left: 15px;
    width: 96%;
    height: 300px;
    border-bottom: 1px solid #ccc;
}
#content #col2 #form_join #join1{
    float: left;
    width:120px;
    height: 250px;
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
}
#join1 ul{
    margin-top: 4px;
}
#join1 li{
    padding: 10px;
}
#content #col2 #form_join #join2{
    float: left;
    width:670px;
    height: 237px;
}
#join2 li{
    width: 100%;
    height: 28px;
    padding-left: 8px;
    padding-top: 6px;
    border-bottom: 1px solid #ccc;
}
#join2 #id1{
    float: left;
}
#join2 #id2{
    float: left;
    margin-left: 5px;
}
#join2 #id3{
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}
#join2 input{
    width: 150px;
    height: 18px;
    border: 1px solid #ccc;
}
#join2 #nick1{
    float: left;
}
#join2 #nick2{
    float: left;
    margin-left: 5px;
}
#join2 input.hp{
    width: 40px;
    height: 18px;
    border: 1px solid #ccc;
}
#join2 input#email1{
    width: 90px;
}
#content #col2 #form_join #must{
    padding-top: 15px;
}
#content #col2 #button{
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

/*****************회원가입 양식 css 끝******************/

/****login css*****/

#login_form{
    width: 96%;
    height: 300px;
    margin-left: 15px;
    border-bottom: 1px solid #ccc;
}
#login_form #login_msg{
    margin-top: 30px;
    margin-bottom: 20px;
}
#login_form #login1{
    float: left;
    margin-left: 80px;
    margin-top: 20px;
}
#login_form #login2{
    float: left;
    width: 500px;
    height: 150px;
    margin-left: 60px;
    margin-top: 40px;
}
#login2 #id_pw_title{
    float: left;
    width: 80px;
    height: 50px;
}
#login2 #id_pw_title ul{
    margin-top: 7px;
}
#login2 #id_pw_title li{
    padding-bottom: 11px;
}
#login2 #id_pw_input{
    float: left;
    height: 50px;
    margin-left: 10px;
}
#login2 #id_pw_input li{
    padding-bottom: 7px;
}
#login2 #id_pw_input .login_input{
    width: 150px;
    height: 18px;
    border: 1px solid #ccc;
}
#login2 #login_button{
    float: left;
    margin-left: 10px;
}
#login2 #login_line{
    width: 382px;
    height: 1px;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
}
#login2 #join_button{
    margin-top: 20px;
    margin-left: 30px;
}